body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
    background:linear-gradient(120deg,rgb(116, 105, 182),rgb(255, 230, 230));
    color:rgb(231, 30, 124) ;
}
h1{
    font-size: 40px;
}
.container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold; 
    color: papayawhip; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cell:hover {
    background-color: pink;
    transform: scale(1.1); 
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold; 
    background-color:gray;
    color: blue;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color:black;
    transform: scale(1.1); /
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold; 
    color: rgb(231, 30, 124); 
    transition: opacity 0.3s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#message.show {
    animation: fadeIn 0.3s;
}
